{
  "printWidth": 120,
  "bracketSameLine": true,
  "quoteProps": "consistent",
  "singleQuote": false,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderParserPlugins": ["typescript"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
