{
    "trailingComma": "es5",
    "tabWidth": 4,
    "indent_size": 4,
    "semi": true,
    "singleQuote": false,
    "indent_style": "space",
    "useTabs": false,
    "printWidth": 120,
    "arrowParens": "always"
}

