.colored-icon {
    -st-icon-style: requested;
}

.symbolic-icon {
    -st-icon-style: symbolic;
}

.no-margin {
    margin: 0;
}

.panel-button {
    padding-left: 6px;
    padding-right: 6px;
}

.panel-button-box > *:first-child {
    padding-left: 6px;
    padding-right: 6px;
}

.panel-button-box > * {
    padding-left: 6px;
    padding-right: 6px;
}

.panel-button-box > *:last-child:not(.controls-box) {
    padding-left: 6px;
    padding-right: 6px;
}

.controls-box {
    padding-left: 0px;
    padding-right: 0px;
}

.controls-box > * {
    padding-left: 6px;
    padding-right: 6px;
}
